







.offline {
  position: fixed;
  bottom:  0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #ff4c4c;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slideDown 0.5s ease-in-out;
}
:root {
  --primary-green: #00BFA6;
  --primary-blue: #0078A8;

  --secondary-dark-blue: #005F6B;
  --secondary-light-green: #A3E4DB;

  --neutral-white: #FFFFFF;
  --neutral-light-gray: #F1F1F1;
  --neutral-dark-gray: #333333;

  --accent-teal: #008080;
  --accent-soft-blue: #ADD8E6;
}
  body {
  font-family: var(--main-font);
  width: 100%;
  overflow-x: hidden !important;
  background: linear-gradient(to right, var(--primary-blue), var(--secondary-dark-blue));
  color: var(--neutral-white);

  }
 
  a{
      text-decoration: none;
      color: var(--font-color);
  
  }
  .my-input{
      background-color: transparent;
      border: 1px solid var(--border-color);
  
  }
  .social-media i{
    color: var(--accent-teal);
  }
  .nav{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--neutral-white);
    color: var(--primary-blue);
    width: 100%;
  }

  

  .product-name {
    color: var(--neutral-white);
    margin-bottom: 10px;
  }
  
  .rate {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var(--accent-soft-blue);
  }
  
  .description h5 {
    margin-top: 20px;
    color: var(--secondary-light-green);
  }
  
  .product-description {
    line-height: 2.6;
    color: var(--neutral-light-gray);
  }
  
  .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-light-green);
  }
  
  .quantity-container .btn {
    background-color: var(--primary-blue);
    color: var(--neutral-white);
  }
  
  .quantity-container .btn:hover {
    background-color: var(--primary-green);
    color: var(--neutral-dark-gray);
  }
  
  .button:hover {
    background: linear-gradient(to bottom, var(--primary-green), var(--accent-soft-blue));
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .button {
    background: linear-gradient(to bottom, var(--primary-blue), var(--accent-teal));
    color: var(--neutral-white);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  .reg-button{
    background: linear-gradient(to bottom, var(--primary-green), var(--accent-soft-blue));
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    color: var(--neutral-white);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card {
    background-color: var(--neutral-dark-gray);
    color: var(--neutral-white);
    height: 100%; 
    border-radius: 8px; 
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
  }

  .oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  .page-link:hover{
color: #FFFFFF;
  }


.cart-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  color: #000;
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.cart-table th {
  background-color: #f4f4f4;
  color: #333;
}

.cart-table td {
  background-color: #fff;
}

.product-image {
  width: 50px;
  height: auto;
}

.quantity-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 3px;
}

.quantity-btn:hover {
  background-color: #0056b3;
}

.remove-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.remove-btn:hover {
  background-color: #c82333;
}
.not-found-container {
  min-height: 80vh;
}

.not-found-image {
  max-width: 500px;
}

.not-found-container h1 {
  font-size: 2.5rem;
  color: #343a40;
}

.not-found-container p {
  font-size: 1.2rem;
  color: var(--neutral-dark-gray)
}

.vertical {
  border-left: 2px solid rgb(240, 238, 238);
  height: 98%;
  position: absolute;
  margin: 2% 0%;
  align-self: flex-end;
  left: 80%;
}

.maintitle {
  font-family: "Billabong W00 Regular";
}

.container {
  margin-top: 1%;
  border-radius: 15px;
  height: 525px;
}

.login {
  border-radius: 1.4rem !important;
}

.register {
  border-radius: 1.4rem !important;
}
.gradient-text {
  color: transparent;
  background-image: linear-gradient(to bottom, var(--primary-green), var(--accent-soft-blue));
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}
.logout-button{
  cursor: pointer;
}
.total-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #f8f9fa;
  width: fit-content;
  margin-left: auto; /* To align it to the right */
}

.total-price {
  margin: 0;
  color: #333;
  font-weight: bold;
}

.proceed-btn {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.proceed-btn:hover {
  background-color: #e0a800;
}